{% extends 'base/main.html' %}
{% block content %}

<div id = "add-wrapper">
    <a id="add-link" href = "{% url 'task-create'%}">&#x2b;</a>
</div>

<div class="header-bar">
    <div>
        <h1> Hello</h1>
        <h3 style = "margin:0">You have {{tasks.count}} Employee{{  tasks.count|pluralize:"s"  }}</h3>
    </div>

</div>


<div id = "tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class = "task-wrapper">
        <div class = "task-title">
            <div class = "task-complete-icon"></div>
            <a href = "{% url 'task-update' task.id%}">{{task}}</a>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content%}

