{% extends 'base/main.html' %}
{% block content %}

<div id = "add-wrapper">
    <a id="add-link" href = "{% url 'task-create'%}">&#x2b;</a>
</div>

<div class="header-bar">
    <div>
        <h1> Team members</h1>
        <h3 style = "margin:0">You have {{tasks.count}} Employee{{  tasks.count|pluralize:"s"  }}</h3>
    </div>

</div>


<div id = "tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class = "task-wrapper">
        <div class = "task-title">
            {% if task.admin %}
            <div class = "task-complete-icon"></div>
            <b><a href = "{% url 'task-update' task.id%}">{{task.first_name}} {{task.last_name}} (Admin)</a></b> {%else%}
            <div class = "task-complete-icon"></div>
            <b><a href = "{% url 'task-update' task.id%}">{{task.first_name}} {{task.last_name}}</a></b> {%endif%}
        </div>
        <div class = "task-title-2">
            <a href = "{% url 'task-update' task.id%}">{{task.number}}</a>
        </div>
        <div class = "task-title-2">
            <a href = "{% url 'task-update' task.id%}">{{task.email}}</a>
        </div>


    </div>
    {% endfor %}
</div>



{% endblock content%}

